:root {
  --primary-color: #424241;
  --secondary-color: #fdfdfd;
  --tertiary-color: #473d5a;
  --fourth-color: #2e3255;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color) !important;
  background-color: var(--secondary-color) !important;
}

i {
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

nav {
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
}

footer {
  border-top: 1px solid var(--primary-color);
}

nav ul li {
  font-size: 1.4rem;
}

.brand-img {
  height: 30px;
  width: auto;
}

.sidelinks {
  display: flex;
  flex-direction: column;
  position: fixed;
  font-size: 1rem;
  margin: 200px 0px 0px 30px;
}

.sidelinks a {
  padding: 10px 0px;
}

#home-section {
  border-bottom: 1px solid var(--primary-color);
}

#blog-section,
#about-section,
#projects-section {
  border-bottom: 1px solid var(--primary-color);
}

.home-title {
  text-align: left;
  font-size: 4rem;
  font-weight: 400;
}

.home-subtitle {
  text-align: right;
  font-size: 4rem;
  font-weight: 400;
}

.home-description {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
}

.about-title {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.about-description {
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.about-subtitle {
  font-size: 1.3rem;
  font-weight: 700;
}

.card{
  border: 1px solid var(--primary-color) !important;
}

.card-title {
  font-weight: 700;
  font-size: 1.4rem;
}

@media (min-width: 320px) and (max-width: 425px) {
  #home-section {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px 10px 170px 10px;
  }

  .home-title {
    text-align: left;
    font-size: 1.7rem;
    margin-bottom: 0;
  }

  .home-subtitle {
    text-align: right;
    font-size: 1.7rem;
  }

  .home-description {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 0;
  }

  #about-section,
  #contact-section,
  #projects-section,
  #blog-section {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 70px 40px 100px 40px;
  }

  .sidelinks {
    display: none;
  }

  .card-text,
  .tech-used {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }

  .tech-used img {
    padding: 5px;
  }

  .about-title {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .about-description {
    font-size: 0.9rem;
    margin-bottom: 30px;
  }

  .about-subtitle {
    font-size: 1.3rem;
    font-weight: 700;
  }
}

@media (min-width: 768px) {

  nav ul li {
    padding: 0px 15px;
    font-size: 1.4rem;
  }

  #home-section {
    display: flex;
    justify-content: center;
    align-content: center;
     padding: 100px 100px 170px 100px;
  }

  .home-title {
    text-align: left;
    font-size: 1.9rem;
    margin-bottom: 0;
  }

  .home-subtitle {
    text-align: right;
    font-size: 1.9rem;
  }

  .home-description {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
  }

  #about-section,
  #contact-section,
  #projects-section,
  #blog-section {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 70px 70px 100px 70px;
  }

  .sidelinks {
    margin: 120px 0px 0px 15px;
  }

  .card-text,
  .tech-used {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }

  .tech-used img {
    padding: 5px;
  }

  .about-title {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .about-description {
    font-size: 0.9rem;
    margin-bottom: 30px;
  }

  .about-subtitle {
    font-size: 1.3rem;
    font-weight: 700;
  }
}



@media (min-width: 1024px) {

  nav ul li {
    padding: 0px 30px;
    font-size: 1.4rem;
  }

  #home-section {
    display: flex;
    justify-content: center;
    align-content: center;
     padding: 150px 100px 250px 100px;
  }

  .home-title {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 0;
  }

  .home-subtitle {
    text-align: right;
    font-size: 2rem;
  }

  .home-description {
    text-align: center;
    font-size: 3.7rem;
    margin-bottom: 0;
  }

  #about-section,
  #contact-section,
  #projects-section,
  #blog-section {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px 70px 170px 70px;
  }

  .sidelinks {
    margin: 170px 0px 0px 20px;
  }

  .about-box {
    margin-top: 90px !important;
  }

  .card-text{
    font-size: .7rem;
    margin-bottom: 10px;
  }
}


@media (min-width: 1440px) {

  nav ul li {
    padding: 0px 60px;
    font-size: 1.4rem;
  }

  .sidelinks {
    margin: 200px 0px 0px 40px;
  }

  #home-section {
    padding: 150px 300px 250px 300px;
  }

  .home-title {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 0;
  }

  .home-subtitle {
    text-align: right;
    font-size: 3rem;
  }

  .home-description {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 0;
  }

  #blog-section,
  #about-section,
  #projects-section {
    padding: 90px 100px 150px 100px;
  }

  .about-description{
    font-size: 1.2rem;
  }

  #contact-section {
    padding: 90px 300px 200px 300px;
  }

  .card-text{
    font-size: 1rem;
    margin-bottom: 10px;
  }

}

